[Desktop Entry]
Version=1.0
Type=Application
Name=Helwan Mines
Comment=Minesweeper with Data Decay for Helwan Linux
# يجب أن يكون الاسم مطابقاً للملف التنفيذي في /usr/bin
Exec=hel-mines
# يجب أن يكون الاسم مطابقاً للأيقونة في /usr/share/pixmaps
Icon=hel-mines
Terminal=false
Categories=Game;LogicGame;
Keywords=minesweeper;helwan;logic;
StartupNotify=true
